{
    "swagger": "2.0",
    "info": {
      "version": "1.0.0",
      "title": "Payment DEMO API",
      "description": "Payment DEMO API",
      "termsOfService": "http://swagger.io/terms/",
      "contact": {
        "name": "The Payment DEMO Team",
        "email": "sms@3scale.net",
        "url": "http://sms.3scale.net"
      },
      "license": {
        "name": "MIT",
        "url": "http://github.com/3scale/sms/LICENSE-MIT"
      }
    },
    "host": "internal-echo-api.3scale.net",
    "basePath": "/",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "paths": {
     "/basic-auth": {
        "get": {
          "description": "Postman Basic Auth",
          "operationId": "Postman Basic Auth",
          "parameters": [
            {
              "name": "user_key",
              "in": "header",
              "description": "user_key",
              "required": true,
              "type": "string",
              "x-data-threescale-name": "user_keys"
            },
            {
              "name": "Authorization",
              "in": "header",
              "description": "Basic authentication",
              "required": true,
              "default": "Basic cG9zdG1hbjpwYXNzd29yZA==",
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "SMS Details response",
              "schema": {
                "$ref": "#/definitions/SMSDetails"
              }
            },
            "403": {
              "description": "Authentication failed",
              "schema": {
                "$ref": "#/definitions/AuthenticationFailed"
              }
            },
            "default": {
              "description": "unexpected error",
              "schema": {
                "$ref": "#/definitions/Error"
              }
            }
          }
        }
      },
      "/{version}/payment/{id}": {
        "get": {
          "description": "Returns a payment ID",
          "operationId": "Returns a payment ID",
          "parameters": [
            {
              "name": "user_key",
              "in": "header",
              "description": "user_key",
              "required": true,
              "type": "string",
              "x-data-threescale-name": "user_keys"
            },
            {
              "name": "id",
              "in": "path",
              "description": "id of Payment",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "description": "version",
              "required": true,
              "default": "v1",
              "type": "string"
            }          
          ],
          "responses": {
            "200": {
              "description": "SMS Details response",
              "schema": {
                "$ref": "#/definitions/SMSDetails"
              }
            },
            "403": {
              "description": "Authentication failed",
              "schema": {
                "$ref": "#/definitions/AuthenticationFailed"
              }
            },
            "default": {
              "description": "unexpected error",
              "schema": {
                "$ref": "#/definitions/Error"
              }
            }
          }
        }
      },
      "/{version}/payment": {
        "post": {
          "description": "Uploads an Payment",
          "operationId": "Uploads an Payment",
          "parameters": [
            {
              "name": "user_key",
              "in": "header",
              "description": "user_key",
              "required": true,
              "type": "string",
              "x-data-threescale-name": "user_keys"
            },
            {
              "in": "body",
              "name": "body",
              "description": "New Payment",
              "required": true,
              "schema": {
                "$ref": "#/definitions/SMSDetails"
              }
            },
           {
              "name": "version",
              "in": "path",
              "description": "version",
              "required": true,
              "default": "v1",
              "type": "string"
            }           
          ],
          "responses": {
            "200": {
              "description": "SMS Details response",
              "schema": {
                "$ref": "#/definitions/SMSDetails"
              }
            },
            "403": {
              "description": "Authentication failed",
              "schema": {
                "$ref": "#/definitions/AuthenticationFailed"
              }
            },
            "default": {
              "description": "unexpected error",
              "schema": {
                "$ref": "#/definitions/Error"
              }
            }
          }
        }
      },
      "/{version}/payment/update/{id}": {
        "put": {
          "description": "Updates an Payment",
          "operationId": "Updates an Payment",
          "parameters": [
            {
              "name": "user_key",
              "in": "header",
              "description": "user_key",
              "required": true,
              "type": "string",
              "x-data-threescale-name": "user_keys"
            },
            {
              "in": "body",
              "name": "body",
              "description": "New Payment",
              "required": true,
              "schema": {
                "$ref": "#/definitions/SMSDetails"
              }
            },
           {
              "name": "version",
              "in": "path",
              "description": "version",
              "required": true,
              "default": "v1",
              "type": "string"
            },
           {
              "name": "id",
              "in": "path",
              "description": "id",
              "required": true,
              "type": "string"
            } 
          ],
          "responses": {
            "200": {
              "description": "SMS Details response",
              "schema": {
                "$ref": "#/definitions/SMSDetails"
              }
            },
            "403": {
              "description": "Authentication failed",
              "schema": {
                "$ref": "#/definitions/AuthenticationFailed"
              }
            },
            "default": {
              "description": "unexpected error",
              "schema": {
                "$ref": "#/definitions/Error"
              }
            }
          }
        }
      },
      "/{version}/payment/{id}/": {
        "delete": {
          "description": "Delete a Payment",
          "operationId": "Delete a Payment",
          "parameters": [
            {
              "name": "user_key",
              "in": "header",
              "description": "user_key",
              "required": true,
              "type": "string",
              "x-data-threescale-name": "user_keys"
            },
            {
              "name": "id",
              "in": "path",
              "description": "id of Payment",
              "required": true,
              "type": "string"
            },
           {
              "name": "version",
              "in": "path",
              "description": "version",
              "required": true,
              "default": "v1",
              "type": "string"
            } 
          ],
          "responses": {
            "200": {
              "description": "SMS Details response",
              "schema": {
                "$ref": "#/definitions/SMSDetails"
              }
            },
            "403": {
              "description": "Authentication failed",
              "schema": {
                "$ref": "#/definitions/AuthenticationFailed"
              }
            },
            "default": {
              "description": "unexpected error",
              "schema": {
                "$ref": "#/definitions/Error"
              }
            }
          }
        }
      }
    },
    "definitions": {
      "SMSDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "characters": {
            "type": "string"
          },
          "timeStamp": {
            "type": "string"
          },
          "read": {
            "type": "boolean"
          }
        }
      },
      "AuthenticationFailed": {
        "type": "object"
      },
      "Error": {
        "type": "object"
      }
    }
  }